:host(:not([open])) {
  display: none;
}

:host([open]) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;

  info-tooltip {
    width: 1lh;
    height: 1lh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.selection-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 100px;
  background-color: var(--offWhite10);
}

.description {
  padding: 5px;
  background-color: var(--offWhite30);
  font-size: 16px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    all: unset;
    position: relative;
    width: 80%;
    border-radius: 8px;
    padding: 5px 30px 5px 8px;
    background-color: var(--secondary-background);
    color: var(--offWhite);
    font-size: 20px;
  }

  input:focus {
    outline: 1px solid var(--accent-bright);
  }

  input::placeholder {
    color: var(--offWhite30);
  }

  label {
    position: absolute;
    right: 30px;
  }
}

.empty-indicator {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  color: var(--offWhite);

  span {
    font-weight: bold;
    color: var(--warning);
  }
}

.list-container {
  padding-bottom: 10px;
  max-height: 205px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--offWhite30) var(--secondary-background);
}

.folder-container {
  padding: 0 5px;
  font-size: 16px;

  input {
    display: none;
  }

  label {
    border-radius: 12px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  label:hover {
    background-color: var(--offWhite10);
  }

  label done-icon {
    display: none;
    color: var(--approval);
  }

  input:checked + label done-icon {
    display: block;
  }

  input:checked + label {
    background-color: var(--accent-subdued30);
  }
} 

.use-selected-container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  font-size: 20px;
}

.selected-text {
  padding-top: 5px;
}

.creation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  input {
    all: unset;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-background);
    font-size: 20px;
    color: var(--offWhite);
  }

  input::placeholder {
    color: var(--offWhite30);
  }

  input:invalid {
    outline: 1px solid var(--warning);
  }

  input:focus {
    outline: 1px solid var(--accent-bright);
  }
}

.red-text {
  color: var(--warning);
}

.hidden {
  display: none;
}