:root{
  --primaryColor: #2D333C;
  --secondayColor: #171D25;
  --secondaryColor30: #171D254d;
  --offWhite: #DCDEDF;
  --offWhite30: #dcdedf4d;
  --accent01: #09B9FF;
  --accent02: #3C5B7F;
  --warning: #CF6161;
  --approve: #92bd3b;
}