:host {
  display: inline-block;
  position: relative;
}

.message-container::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--offWhite10-match);
}

.message-container {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 50;
  width: 370px;
  margin-right: 6px;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  background-color: var(--offWhite10-match);
}

:host(:hover) .message-container {
  display: block;
}

.description-container {
  padding-left: 10px;
}