html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  margin: 0;
  background-color: var(--background-color);
  color: var(--offWhite);
  font-family: var(--font-family);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin: 10px;
  margin-left: 270px;
  transition: margin-left 150ms ease-in-out;
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.search-area {
  position: relative;
  display: flex;
  flex-grow: .08;
  align-items: center;

  & input {
    all: unset;
    flex-grow: 1;
    border-radius: 8px;
    padding: 10px;
    padding-right: 50px;
    background-color: var(--secondary-background);
    color: var(--offWhite);
    font-size: 20px;
  }

  & input:focus {
    outline: 1px solid var(--accent-bright);
  }

  & input::placeholder {
    color: var(--offWhite30);
  }

  & button, label {
    position: absolute;
    right: 10px;
  }

  & label {
    cursor: text;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    color: inherit;
    background-color: var(--offWhite10);
  }

  & button:hover {
    background-color: var(--offWhite30);
  }

  & button:active {
    background-color: var(--warning30);
    color: var(--warning);
  }
}

.open-button {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  color: var(--offWhite);

  &:hover {
    background-color: var(--offWhite10);
  }

  &:active {
    background-color: var(--offWhite30);
  }
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-dropdown {
  width: 211px;
}

.tag-filter-container {
  display: flex;
  gap: 10px;
  padding: 10px;

  tag-input {
    flex: 2;
  }

  div {
    display: flex;
    gap: 10px;
    margin-top: 7px;
  }

  .toggle-filter-input:not([active]) expand-less {
    display: none;
  }

  .toggle-filter-input[active] expand-more {
    display: none;
  }
}

.invalid-container {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--offWhite10);

  .warning-title {
    font-weight: bold;
    font-size: 18px;
  }

  .warning--list-container {
    margin-left: 20px;
    font-size: 14px;
  }
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}