html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  margin: 0;
  background-color: var(--background-color);
  color: var(--offWhite);
  font-family: var(--font-family);
}

*:not(:defined) {
  visibility: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main > * {
  padding-left: 10px;
  padding-right: 10px;
}

#search-container {
  position: sticky;
  top: 0;
  z-index: 60;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 200ms ease-in;
}

#search-container.scrolled {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--accent-bright);
}

.search-area:has(> input:focus) {
  outline: 1px solid var(--accent-bright);
}

.search-area {
  position: relative;
  display: flex;
  flex-grow: .08;
  align-items: center;
  background-color: var(--secondary-background);
  border-radius: 8px;

  & input {
    all: unset;
    flex-grow: 1;
    padding: 10px;
    color: var(--offWhite);
    font-size: 20px;
  }

  & input::placeholder {
    color: var(--offWhite30);
  }

  & button, label {
    padding: 5px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--offWhite10);
  }

  & label {
    cursor: text;
  }

  & button {
    cursor: pointer;
    border: none;
    color: inherit;
  }

  & button:hover, label:hover {
    background-color: var(--offWhite30);
  }

  & button:active {
    background-color: var(--warning30);
    color: var(--warning);
  }
}

.open-button {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  color: var(--offWhite);

  &:hover {
    background-color: var(--offWhite10);
  }

  &:active {
    background-color: var(--offWhite30);
  }
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-dropdown {
  width: 211px;
}

.tag-filter-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  tag-input {
    flex: 2;
  }

  div {
    display: flex;
    gap: 10px;
    margin-top: 7px;
  }
}

#root-error {
  font-size: 20px;
  margin: 20px;

  strong {
    font-weight: bold;
    color: var(--warning);
  }
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.bookmark-list:empty::after {
  content: "No bookmarks found.";
  border-radius: 15px;
  padding: 5px;
  background-color: var(--offWhite10);
  font-size: 18px;
  text-align: center;
}

.hidden {
  display: none !important;
}