:root {
  scrollbar-color: var(--offWhite30) var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--offWhite);
  font-family: var(--font-family);
}

.sidePanel {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-background);
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--offWhite30) var(--secondary-background);
}

.sidePanel input {
  display: none;
}

.sidePanel label {
  display: block flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px 0 20px;
  gap: 10px;
}

.circleText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--accent-subdued);
  color: var(--offWhite);
}

.labelText {
  font-size: 18px;
  word-break: break-all;
}

.sidePanel label:hover .circleText {
  outline: 1px solid var(--offWhite);
}

.sidePanel label:hover .labelText {
  text-decoration: underline;
  text-decoration-color: var(--offWhite);
}

.sidePanel input:checked + label .circleText {
  outline: 1px solid var(--accent-bright);
}

.sidePanel input:checked + label .labelText {
  text-decoration: underline;
  text-decoration-color: var(--accent-bright);
}

.main {
  margin-left: 260px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;

  & input {
    all: unset;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    padding-right: 50px;
    background-color: var(--secondary-background);
    color: var(--offWhite);
    font-size: 20px;    
  }

  & input:focus {
    outline: 1px solid var(--accent-bright);
  }

  & input::placeholder {
    color: var(--offWhite30);
  }

  & button, label {
    position: absolute;
    right: 10px;
  }

  & button {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    color: var(--offWhite);
    background-color: var(--offWhite10);
  }

  & button:hover {
    background-color: var(--offWhite30);
  }
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
}

.orderContainer {
  display: flex;
  justify-content: space-between;
}

.list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.bookmarkEntry {
  display: flex;
  background-color: var(--item-background);
  margin-left: 5px;
}

.bookmarkGrid {
  display: grid;
  flex: auto;
  grid-template-columns: [col1] auto [col2] 18ch [end];
  row-gap: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.col1 {
  grid-column: col1;
}

.col2 {
  grid-column: col2;
  display: flex;
  justify-content: flex-end;
}

.fullGridLength {
  grid-column-start: col1;
  grid-column-end: end;
}

.dropDown {
  display: flex;
  align-items: center;
}

.circle {
  width: 5px;
  height: 5px;
  margin: 2px;
  background: var(--offWhite);
  border-radius: 50%;
  display: block;
}

.dropDown:hover .circle {
  background: var(--accent-bright);
}

.bookmarkOptions {
  display: none;
  grid-column: end;
  background-color: var(--secondary-background);
  border: 1px solid var(--offWhite);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showBookmarkOpt {
  display: flex;
  flex-direction: column;
}

.removeIcon {
  color: var(--warning);
}

.completeIcon {
  color: var(--approval);
}

.hidden {
  display: none;
}

.sideBar {
  border-radius: 5px;
}

.sideBar[specialType="COMPLETED"] {
  background-color: var(--approval);
}

.sideBar[specialType="DELETED"] {
  background-color: var(--warning);
}

.specialText {
  border-radius: 3px;
  padding: 0 5px;
  font-weight: bold;
  color: var(--background-color);
  background-color: var(--accent-subdued);
}

.specialText[specialType="COMPLETED"] {
  background-color: var(--approval);
}

.specialText[specialType="DELETED"] {
  background-color: var(--warning);
}