:host button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-family: var(--font-family);
  font-size: 20px;
}

:host([size="small"]) button {
  font-size: 16px;
}

:host(:not([variant])) button,
:host([variant="primary"]) button {
  background-color: var(--button-primary-color);
  color: var(--offWhite);

  &:hover {
    background-color: var(--button-primary-hover);
  }

  :host([disabled]) & {
    cursor: not-allowed;
    color: var(--offWhite30);
    background-color: var(--button-primary-disabled);
  }
}

:host([variant="secondary"]) button {
  background-color: var(--button-secondary-color);
  color: var(--offWhite);

  &:hover {
    background-color: var(--button-secondary-hover);
  }

  :host([disabled]) & {
    cursor: not-allowed;
    color: var(--offWhite30);
    background-color: var(--button-secondary-disabled);
  }
}

:host([variant="warning"]) button {
  background-color: var(--button-warning-color);
  color: var(--offWhite);

  &:hover {
    background-color: var(--button-warning-hover);
  }

  :host([disabled]) & {
    cursor: not-allowed;
    color: var(--offWhite30);
    background-color: var(--button-warning-disabled);
  }
}