body {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--background-color);
  color: var(--offWhite);
  margin: 10px;
  font-family: var(--font-family);
}

.left {
  position: sticky;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-button {
  padding: 8px;
  border-radius: 50%;
  color: var(--offWhite);

  &:hover {
    background-color: var(--offWhite10);
  }

  &:active {
    background-color: var(--offWhite30);
  }
}

h1 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  max-width: 550px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
}

.section-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  border-radius: 8px;
  background-color: var(--secondary-background);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);

  hr {
    margin: 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--offWhite30);
  }
}

.option {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  font-size: 18px;
}

.option-title {
  font-size: 20px;
}

.option-row {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  span {
    word-break: break-all;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-family: inherit;
  background-color: var(--offWhite10);
  color: inherit;

  &::placeholder {
    color: var(--offWhite30);
  }

  &:focus {
    outline: 1px solid var(--accent-bright);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 20%;
  }
}

input::-webkit-calendar-picker-indicator {
  margin-bottom: 9px;
}

.option-buttons-row {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.option-description {
  margin: 0 20px;
  font-size: 14px;
}

#folder-rename-select[disabled]::after {
  content: "No Folders";
  padding-left: 10px;
  font-size: 14px;
}

#extension-folder-name:empty::after {
  content: "None";
  color: var(--warning);
}

#draggable-folder-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.draggable-folder {
  cursor: grab;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0 15px 10px;
  border-radius: 5px;
}

.draggable-folder * {
  pointer-events: none;
}

#draggable-folder-list:not(.dragging) .draggable-folder:hover {
  background-color: var(--accent-bright30);
}

.draggable-folder.dragging {
  opacity: 0.5;
  background-color: var(--accent-bright30);
}

.above-indicator::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  background-color: var(--accent-bright);
  height: 2px;
  width: 40%;
}

.below-indicator::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-bright);
  height: 2px;
  width: 40%;
}

.regex-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 14px;
  }

  themed-button {
    margin-top: 3px;
  }
}

#regex-test-results {
  font-size: 16px;
  margin-left: 20px;
  word-break: break-all;

  div >:first-child {
    font-weight: bold;
  }
}

.warning-text {
  color: var(--warning);
}

.regex-button-container {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 20px;
  }
}

.notification-label {
  font-weight: bold;
}

.added-text {
  background-color: color-mix(in srgb, var(--approval) 30%, transparent);
}

.removed-text {
  text-decoration: line-through;
  background-color: color-mix(in srgb, var(--warning) 30%, transparent);
}