body {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  flex: 1;

  .side-bar, .main, .right {
    flex: 1 1 0;
  }

  .main {
    flex-basis: 40%;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 0 auto;
  max-width: 550px;
}

.obscure {
  opacity: 0.5;
}

ul {
  list-style: none;
}

.group-item {
  cursor: grab;
  font-weight: bold;
  margin-top: 1rem;
}

.folder-list {
  cursor: grab;
  font-weight: normal;
}

#group-list:not(.dragging) li:hover:not(:has(li:hover)) {
  background-color: bisque;
}

li span {
  border-bottom: 1px solid;
  border-left: 1px solid;
  height: 1.2rem;
  width: 2rem;
  display: inline-block;
  margin-bottom: 0.3rem;
  /* margin-left: 1rem; */
}

.insert-after::after, .insert-before::before {
  display: block;
  content: "";
  margin-left: 1rem;
  border-width: 8px 16px;
  border-style: solid;
  border-color: transparent transparent transparent var(--offWhite10-match);
}