:host(:not([open])) {
  display: none;
}

:host([open]) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--offWhite);
  font-family: var(--font-family);
}

.tags-title-container {
  font-size: 20px;
}

.tags-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--offWhite10);
}

.tags-info-container {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.finish-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}