:host {
  display: inline-block;
  position: relative;
  width: 100%;
  color: var(--offWhite);
  font-family: var(--font-family);
  font-size: 20px;
}

:host([disabled]) button {
  opacity: 10%;
  cursor: not-allowed;
}

#toggle-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--offWhite10);
  padding: 5px 5px 5px 10px;
  gap: 5px;
  border: none;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

:host(:not([disabled])) #toggle-button:hover {
  background-color: var(--offWhite30);
}

#toggle-button.open {
  background-color: var(--accent-subdued) !important;
  border-radius: 3px 3px 0px 0px;
}

#options-container {
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  background-color: var(--offWhite10-match);
  z-index: 30;
}

.option {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;

    padding: 5px 0;
    padding-left: 5%;
    gap: 5%;
  }

  label:hover {
    background-color: var(--offWhite30);
  }

  label svg-icon {
    visibility: hidden;
    color: var(--approval);
  }

  input:checked + label {
    cursor: default;
    background-color: transparent;
  }

  input:checked + label svg-icon {
    visibility: visible;
  }
}

:host([variant='highlight']) .option {
  label {
    display: flex;
  }
  
  label svg-icon {
    display: none;
  }

  input:checked + label {
    background-color: var(--button-primary-color);
  }
}

.hidden {
  display: none !important;
}