:host {
  display: inline-block;
  color: var(--offWhite);
  font-family: var(--font-family);
  font-size: 20px;
}

:host button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--dropdown-width, auto);
  background-color: var(--offWhite10);
  padding: 5px 10px;
  gap: 5px;
  border: none;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

:host button:hover {
  background-color: var(--offWhite30);
}

:host([open]) button {
  background-color: var(--accent-subdued);
  border-radius: 3px 3px 0px 0px;
}

:host .options-container {
  display: none;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  background-color: var(--offWhite10-match);
}

:host([open]) .options-container {
  display: block;
}

:host input {
  display: none;
}

:host label {
  cursor: pointer;
  display: grid;
  width: var(--dropdown-width, auto);
  grid-template-columns: 10px [labelIcon] 30px [labelText] 1fr [end];
  column-gap: 10px;
  padding: 5px 0;
}

.labelIcon {
  grid-column: labelIcon;
}

.labelText {
  grid-column: labelText;
}

:host label:hover {
  background-color: var(--offWhite30);
}

:host label done-icon {
  display: none;
  color: var(--approval);
}

:host input:checked + label done-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
