:host {
  display: inline-block;
  position: relative;
  width: 100%;
  color: var(--offWhite);
  font-family: var(--font-family);
  font-size: 20px;
}

:host([disabled]) button {
  opacity: 10%;
  cursor: not-allowed;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--offWhite10);
  padding: 5px 5px 5px 10px;
  gap: 5px;
  border: none;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

:host(:not([disabled])) button:hover {
  background-color: var(--offWhite30);
}

:host([open]) button {
  background-color: var(--accent-subdued) !important;
  border-radius: 3px 3px 0px 0px;
}

.options-container {
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  background-color: var(--offWhite10-match);
  z-index: 30;
}

:host([open]) .options-container {
  display: block;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: grid;
  grid-template-columns: 10px [labelIcon] 30px [labelText] 1fr [end];
  column-gap: 10px;
  padding: 5px 0;
  word-break: break-all;
  font-size: inherit;
}

:host(:not([selected-indicator='highlight'])) .labelIcon {
  grid-column: labelIcon;
}

.labelText {
  grid-column: labelText;
}

:host([selected-indicator='highlight']) .labelText {
  grid-column: labelIcon / end;
}

label:hover {
  background-color: var(--offWhite30);
}

label svg-icon {
  display: none;
  color: var(--approval);
}

:host(:not([selected-indicator='highlight'])) input:checked + label svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host([selected-indicator='highlight']) input:checked + label {
  background-color: var(--accent-subdued30);
}

input:disabled + label {
  cursor: default;
  opacity: 10%;

  &:hover {
    background-color: transparent;
  }
}