.highlight-wrapper {
  border-radius: 5px;
}

:host([reading-status="Completed"]) {
  .highlight-wrapper {
    background-color: var(--approval);
  }

  #reading-status::after {
    content: "Completed";
    background-color: var(--approval);
  }
}

:host([reading-status="Plan to Read"]) {
  .highlight-wrapper {
    background-color: var(--highlight-orange);
  }

  #reading-status::after {
    content: "Plan to Read";
    background-color: var(--highlight-orange);
  }
}

:host([reading-status="Re-Reading"]) {
  .highlight-wrapper {
    background-color: var(--highlight-purple);
  }

  #reading-status::after {
    content: "Re-Reading";
    background-color: var(--highlight-purple);
  }
}

:host([reading-status="On Hold"]) {
  .highlight-wrapper {
    background-color: var(--highlight-red);
  }

  #reading-status::after {
    content: "On Hold";
    background-color: var(--highlight-red);
  }
}

.card-container {
  display: flex;
  margin-left: 5px;
  background-color: var(--item-background);
}

#card-anchor {
  display: grid;
  flex-grow: 1;
  padding: 5px 10px;
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-size: 16px;

  > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &:hover {
    background-color: var(--offWhite10);

    #title {
      text-decoration: underline;
    }

    svg-icon {
      color: var(--accent-bright);
    }
  }
}

#title {
  font-size: 24px;
  font-weight: bold;
}

.title-container {
  display: flex;
  gap: 10px;
}

.alignment-wrapper {
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 1lh;
}

#reading-status::after {
  padding: 0px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-background);
  white-space: nowrap;
}

time {
  white-space: nowrap;
  font-size: 16px;
}

.domain-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  display: flex;
  gap: 10px;

  li {
    padding: 0 3px;
    border-radius: 3px;
    background-color: var(--offWhite10);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
}

#toggle-options {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  border: none;
  border-left: 2px solid var(--accent-subdued);
  background-color: var(--offWhite10);
  color: var(--offWhite);

  span {
    transition: width 0.2s;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    width: 0;
  }

  &:hover {
    background-color: var(--accent-subdued30);
    border-color: var(--accent-bright);

    svg-icon {
      color: var(--accent-bright);
    }
  }
}

#toggle-options:hover,
#toggle-options.open {
  span {
    width: 40px;
  }
}

#options-wrapper {
  margin-left: 5px;
  background-color: var(--item-background);
}

#options-container {
  background-color: var(--offWhite10);
  padding: 10px;
 }

 #options-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  flex-grow: 1;

  themed-button::part(styled-button) {
    border-radius: 2px;
    padding: 2px 10px;
  }
 }

 #active-option {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 #active-option.reverse {
  flex-direction: row-reverse;
 }

 input[type=text] {
  flex-grow: 1;
  background-color: var(--secondary-background);
  color: var(--offWhite);
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;

  &::placeholder {
    color: var(--offWhite30);
  }

  &:focus {
    outline: 1px solid var(--accent-bright);
  }
 }

 input::-webkit-calendar-picker-indicator {
  margin-bottom: 9px;
}

 #edit-tags {
  flex-grow: 1;
 }

 #reading-status-options {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-grow: 1;

  input {
    display: none;
  }

  label {
    flex-grow: 1;
    max-width: 200px;
    cursor: pointer;
    padding: 5px 8px;
    background-color: var(--offWhite30);
    font-size: 20px;
    border-radius: 5px;
    border-left: 4px solid transparent;
  }

  label:hover, input:checked + label {
    border-radius: 0 5px 5px 0;      
    background-color: var(--button-secondary-hover);
  }

  input:checked + label {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  label:hover.green-highlight, input:checked + label.green-highlight {
    border-left: 4px solid var(--approval);
  }

  input:checked + label.green-highlight {
    text-decoration-color: var(--approval);
  }

  label:hover.orange-highlight, input:checked + label.orange-highlight {
    border-left: 4px solid var(--highlight-orange);
  }

  input:checked + label.orange-highlight {
    text-decoration-color: var(--highlight-orange);
  }

  label:hover.purple-highlight, input:checked + label.purple-highlight {
    border-left: 4px solid var(--highlight-purple);
  }

  input:checked + label.purple-highlight {
    text-decoration-color: var(--highlight-purple);
  }

  label:hover.red-highlight, input:checked + label.red-highlight {
    border-left: 4px solid var(--highlight-red);
  }

  input:checked + label.red-highlight {
    text-decoration-color: var(--highlight-red);
  }
 }

 .warning-text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: var(--warning);
 }

 #option-buttons {
  display: flex;
  gap: 5px
 }

 .hidden {
  display: none !important;
 }