.highlight-container {
  border-radius: 5px;
}

:host([readingStatus="Completed"]) .highlight-container {
  background-color: var(--approval);
}

:host([readingStatus="Plan to Read"]) .highlight-container {
  background-color: var(--highlight-orange);
}

:host([readingStatus="Re-Reading"]) .highlight-container {
  background-color: var(--highlight-purple);
}

:host([readingStatus="On Hold"]) .highlight-container {
  background-color: var(--highlight-red);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  margin-left: 5px;
  background-color: var(--item-background);
}

.link-container, .tags-and-edit-button-container, .options-container {
  padding: 0 10px;
}

.link-container {
  padding-top: 5px;
}

.link-container:hover {
  background-color: var(--offWhite10);
}

.tags-and-edit-button-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.title::after {
  padding: 0px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-background);
}

:host([readingStatus="Completed"]) .title::after {
  content: "Completed";
  background-color: var(--approval);
}

:host([readingStatus="Plan to Read"]) .title::after {
  content: "Plan to Read";
  background-color: var(--highlight-orange);
}

:host([readingStatus="Re-Reading"]) .title::after {
  content: "Re-Reading";
  background-color: var(--highlight-purple);
}

:host([readingStatus="On Hold"]) .title::after {
  content: "On Hold";
  background-color: var(--highlight-red);
}

.chapter, .domain-date {
  font-size: 16px;
}

.domain-date {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--offWhite);
  border-radius: 3px;
}

button:hover {
  background-color: var(--offWhite30);
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
  background-color: var(--offWhite10);
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.edit-nav, .edit-options {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

input[type=text] {
  margin: 0 30px;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--secondary-background);
  color: var(--offWhite);
  font-family: inherit;
  font-size: 20px;
  border: none;

  &::placeholder {
    color: var(--offWhite30);
  }

  &:focus {
    outline: 1px solid var(--accent-bright);
  }
}

input[type=text]::-webkit-calendar-picker-indicator {
  margin-bottom: 9px;
}

.reading-status-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 10px;
  padding: 0 30px;

  div {
    display: block;

    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 20px;
      padding: 5px 8px;
      border-radius: 5px;
      background-color: var(--offWhite30);
      border-left: 4px solid transparent;
    }

    label:hover, input:checked + label {
      border-radius: 0 5px 5px 0;      
      background-color: var(--button-secondary-hover);
    }

    input:checked + label {
      font-weight: 600;
    }

    label:hover.green-highlight, input:checked + label.green-highlight {
      border-left: 4px solid var(--approval);
    }

    input:checked + label.green-highlight {
      color: var(--approval);
    }

    label:hover.orange-highlight, input:checked + label.orange-highlight {
      border-left: 4px solid var(--highlight-orange);
    }

    input:checked + label.orange-highlight {
      color: var(--highlight-orange);
    }

    label:hover.purple-highlight, input:checked + label.purple-highlight {
      border-left: 4px solid var(--highlight-purple);
    }

    input:checked + label.purple-highlight {
      color: var(--highlight-purple);
    }

    label:hover.red-highlight, input:checked + label.red-highlight {
      border-left: 4px solid var(--highlight-red);
    }

    input:checked + label.red-highlight {
      color: var(--highlight-red);
    }
  }
}

tag-input {
  padding: 0 30px;
}

.warning-text {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: var(--warning);
}

.hidden {
  display: none !important;
}