body {
  background-color: var(--background-color);
  width: 450px;
  font-family: var(--font-family);
  color: var(--offWhite);
}

.header, .action-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;

  & managamark-logo {
    margin-right: -5px;
  }
}

.update-create {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#bookmark-action {
  font-size:  24px;
  font-weight: bold;
}

.completed-option input {
  display: none;
}

.completed-option label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

.completed-option input:checked + label check-box {
  display: none;
}

.completed-option label done-icon {
  display: none;
  color: var(--approval);
}

.completed-option input:checked + label done-icon {
  display: block;
}

.content-container {
  display: grid;
  grid-template-columns: [identifier] 80px [value] auto;
  row-gap: 10px;
  font-size: 16px;
}

.identifier {
  grid-column: identifier;
}

.value {
  grid-column: value;
}

.title-input-container {
  display: grid;
  column-gap: 10px;
}

.title-column2 {
  grid-area: 1/2;
}

.folder-container {
  display: grid;
  grid-template-columns: auto 138px;
  div {
    word-break: break-all;
  }
}

.folder-grid-full {
  grid-column: span 2;
}

.chapter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--offWhite10);
}

.edit-options, .action-wrapper {
  display: flex;
  justify-content: space-between;
}

.completed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;

  & done-icon {
    color: var(--approval);
  }
}

.error-text {
  font-size: 14px;
  font-weight: bold;
  color: var(--warning);
}

.action-button-container {
  padding: 1px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.hidden {
  display: none;
}

.grey-text {
  color: var(--offWhite30);
}