body {
  background-color: var(--background-color);
  width: 450px;
  font-family: var(--font-family);
  color: var(--offWhite);
}

.header, .action-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-create {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#bookmark-action {
  font-size:  24px;
  font-weight: bold;
}

.completed-option input {
  display: none;
}

.completed-option label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

.completed-option input:checked + label check-box {
  display: none;
}

.completed-option label done-icon {
  display: none;
  color: var(--approval);
}

.completed-option input:checked + label done-icon {
  display: block;
}

.content-container {
  display: grid;
  grid-template-columns: [identifier] 80px [value] auto;
  row-gap: 10px;
  font-size: 16px;
}

.identifier {
  grid-column: identifier;
}

.value {
  grid-column: value;
}

.content-title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}

.title-edit {
  max-width: 305px;
  field-sizing: content;
  resize: none;
  overflow: hidden;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-background);
  color: inherit;
  font-size: 16px;
  font-family: inherit;
}

.chapter-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chapter-input::-webkit-outer-spin-button,
.chapter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chapter-input::-webkit-calendar-picker-indicator {
  padding-bottom: 10px;
}

.chapter-input {
  padding: 2px 5px;
  background-color: var(--secondary-background);
  width: 5em;
  border: none;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--offWhite);
}

.chapter-input::placeholder {
  color: var(--offWhite30);
}

.chapter-input:focus, .title-edit:focus {
  outline: 1px solid var(--accent-bright);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--offWhite10);
}

.edit-options {
  display: flex;
  justify-content: space-between;
}

.finish-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.action-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.hidden {
  display: none;
}

.bright-text {
  color: var(--accent-bright);
}

.grey-text {
  color: var(--offWhite30);
}